/* main.css */
body {
  display: flex;
  flex-direction: column;

  background-image: url("./background2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.navbar-collapse {
  justify-content: center; /* Ortalamak için */
}

ul.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

ul.navbar-nav li {
  margin-right: 2%;
  transition: transform 0.3s ease, opacity 0.3s ease, border 0.3s ease,
    box-shadow 0.3s ease;
}

ul.navbar-nav li:hover {
  opacity: 0.7;
  border: 2px solid grey;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #dc0a0a;
}

.navbar-brand img {
  height: 10vh;
  animation: rotateLogo 15s infinite linear;
  transition: transform 0.3s ease;
}

.navbar-brand:hover img {
  transform: scale(1.5) rotate(360deg);
  animation-play-state: paused;
}

@keyframes rotateLogo {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.navbar-brand {
  margin-left: 10%;
}

.navbar {
  background-color: transparent !important;
  backdrop-filter: blur(10px);
  background-color: #111;
  padding: 0 20px;
  width: 100%;
  z-index: 10000;
  position: fixed;
  top: 0;
}

.navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-toggler:hover {
  opacity: 0.6;
  transform: scale(1.2);
  transition: transform 0.3s ease, opacity 0.3s ease, border 0.3s ease,
    box-shadow 0.3s ease;
  background-color: #dc0a0a;
}

.navbar-toggler:active {
  transform: scale(0.7);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media (max-width: 991.98px) {
  .navbar-collapse {
    text-align: center;
    margin-left: 0;
  }
  ul.navbar-nav li {
    font-size: 3rem;
  }

  .navbar-nav {
    display: block;
    text-align: center;
  }

  .navbar-nav .nav-item {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards;
  }

  .navbar-nav .nav-item:nth-child(1) {
    animation-delay: 0.1s;
  }

  .navbar-nav .nav-item:nth-child(2) {
    animation-delay: 0.2s;
  }

  .navbar-nav .nav-item:nth-child(3) {
    animation-delay: 0.3s;
  }

  .navbar-nav .nav-item:nth-child(4) {
    animation-delay: 0.4s;
  }

  .navbar-nav .nav-item:nth-child(5) {
    animation-delay: 0.5s;
  }

  .navbar-nav .nav-item:nth-child(6) {
    animation-delay: 0.6s;
  }

  .collapse:not(.show) {
    display: none !important;
  }

  .collapse.show {
    display: block;
    position: absolute;
    width: 100%;
    z-index: 999;
    top: 100%;

    left: 0;
    background-color: rgba(59, 52, 52, 0.3);
    animation: fadeInDown 0.5s ease;
  }
  .navbar-toggler-icon {
    font-size: 2.7em;
  }
}
/* main.css */

/* Küçük ekranlar için ayarlar */

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
