/* main.css */
body {
  display: flex;
  flex-direction: column;
  background-image: url("./background2.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.social .col {
  transition: transform 0.3s ease, opacity 0.3s ease, border 0.3s ease,
    box-shadow 0.3s ease;
}
.social .col:hover {
  border: 2px solid grey;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #faa634;
  color: white !important;
  background-color: #faa634;
  text-align: center;
}
/* SLOGAN */
.container {
  width: 100%;
  margin-top: 2.4%;
}

.sp {
  font-size: larger;
  font-weight: 900;
  width: 100%;
  background-image: url("https://dl.dropbox.com/s/r2s8s2r17wi0xm6/flame.png?dl=0");
  background-position: 0 -1000px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: fire 2.9s linear infinite;
}

.slogan_h3 {
  color: #fff;

  text-align: center;
}

@keyframes fire {
  0% {
    background-position: 0% -50%;
  }
  100% {
    background-position: 0% -25%;
  }
}
/* /SLOGAN */

.social {
  margin-top: 5px !important;
}
.navbar-collapse {
  justify-content: center; /* Ortalamak için */
}
.navbar-nav {
  margin-left: 10%;
}
ul.navbar-nav {
  display: flex;
  justify-content: center;
  width: 100%;
}

ul.navbar-nav li {
  margin-right: 2%;
  transition: transform 0.3s ease, opacity 0.3s ease, border 0.3s ease,
    box-shadow 0.3s ease;
  text-align: center;
  color: #faa634 !important;
}
.ust {
  top: 3%;
}
ul.navbar-nav li:hover:not(.ust) {
  border: 2px solid grey;
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  background-color: #faa634;
}

.navbar-brand img {
  height: 10vh;
  animation: rotateLogo 15s infinite linear;
  transition: transform 0.3s ease;
  -webkit-user-drag: none;
}

.navbar-brand:hover img {
  transform: scale(1.5) rotate(360deg);
  animation-play-state: paused;
}

@keyframes rotateLogo {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

.navbar-brand {
  margin-left: 10%;
}

.navbar {
  background-color: transparent !important;
  backdrop-filter: blur(10px);
  background-color: #111;
  padding: 0 20px;
  width: 100%;
  z-index: 10000;
  top: 0;
}

.navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-toggler:hover {
  opacity: 0.6;
  transform: scale(1.2);
  transition: transform 0.3s ease, opacity 0.3s ease, border 0.3s ease,
    box-shadow 0.3s ease;
  background-color: #faa634 !important;
}

.navbar-toggler:active {
  transform: scale(0.7);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

@media (max-width: 991.98px) {
  .ust {
    top: 3.5% !important;
    left: 35% !important;
    font-size: 1.5rem;
  }

  .ust .fa-phone {
    text-align: center;
  }
  .container {
    margin-top: 18% !important;
  }
  .slogan_h3 {
    font-size: 3rem;
  }
  .navbar-collapse {
    margin-left: 0;
  }
  ul.navbar-nav li {
    font-size: 3rem;
    padding-left: 28%;
    text-align: left;
  }

  .navbar-nav .nav-item {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
    transform: translateX(-100%);
    animation: slideIn 0.5s forwards;
  }

  .navbar-nav .nav-item:nth-child(1) {
    animation-delay: 0.1s;
  }

  .navbar-nav .nav-item:nth-child(2) {
    animation-delay: 0.2s;
  }

  .navbar-nav .nav-item:nth-child(3) {
    animation-delay: 0.3s;
  }

  .navbar-nav .nav-item:nth-child(4) {
    animation-delay: 0.4s;
  }

  .navbar-nav .nav-item:nth-child(5) {
    animation-delay: 0.5s;
  }

  .navbar-nav .nav-item:nth-child(6) {
    animation-delay: 0.6s;
  }

  .navbar-nav .nav-item:nth-child(7) {
    animation-delay: 0.7s;
  }

  .collapse:not(.show) {
    display: none !important;
  }

  .collapse.show {
    display: block;
    position: absolute;
    width: 80%;
    z-index: 999;
    top: 100%;
    left: 10%;
    background-color: rgba(59, 52, 52, 0.3);
    animation: fadeInDown 0.5s ease;
  }
  .navbar-toggler-icon {
    font-size: 2.7em;
  }
}
/* main.css */

/* Küçük ekranlar için ayarlar */

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
